<div class="row">
	<div id="activity-log-form" class="col-md-6 offset-md-3">
		<!-- <div id="header">Log Your Acitivity!</div> -->
		<div>
		    <input type="number" ng-model="logItem.passcode" class="form-control" id="pass-code" placeholder="Pass Code">
			<select ng-model="logItem.activity_name" class="form-control" placeholder="Activity">
			 	<option ng-repeat="activity_name in activityNames">{{activity_name}}</option>
			</select>
		</div>
		<div>
		    <input ng-model="logItem.sub_activity_name" class="form-control" id="sub-activity-name" placeholder="Sub-Activity">
		</div>
		<div>
		    <input ng-model="logItem.quantity" type="number" class="form-control" id="quantity" placeholder="Quantity">
		    <label class="custom-control custom-radio" ng-repeat="unit in activityUnits">
				<input ng-click="changeUnit(unit)" id="activity-unit-{{unit}}" name="unit" type="radio" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">{{unit}}</span>
			</label>
			<input ng-if="otherUnitField===true" ng-model="logItem.unit" type="text" class="form-control" id="quantity" placeholder="Unit?">
		</div>
		<div>
		    <input ng-model="logItem.date" type="text" class="form-control" id="date" placeholder="Choose Date">
		    <input ng-model="logItem.around_start_hour" type="number" class="form-control" id="around-start-hour" placeholder="~Start Hour?">
		    <input ng-model="logItem.nth_time" type="number" class="form-control" id="nth-time" placeholder="Nth Time?">
		</div>
		<button class="btn btn-primary" ng-click="logThisActivity()">Submit!</button>
		<div ng-if="postStatus>0" class="alert alert-success">
		  	<strong>Post Successful!</strong>
		</div>
		<div ng-if="postStatus<0" class="alert alert-danger">
		  	<strong>UnSuccessful Post!</strong>
		</div>
	</div>
</div>